

<div class="index-container" >
	<h1>New Post <%= image_tag 'cat-1185453.png', class: 'title-pic' %></h1>
	<div class="well" >
		<%= render 'form', post: @post %>

	</div>
</div>
<%= link_to 'Back', posts_path, class: 'btn btn-warning' %>
